<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Smart Home Heating System">
		<meta name="author" content="Barry O' Sullivan">
		<title>Calidity | Final Year Project 2017</title>
		<!-- Bootstrap Core CSS -->
		<link href="{% static 'interface/css/bootstrap.min.css' %}" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="{% static 'interface/css/sb-admin.css' %}" rel="stylesheet">
		<!-- Morris Charts CSS -->
		<link href="{% static 'interface/css/plugins/morris.css' %}" rel="stylesheet">
		<!-- Custom Fonts -->
		<link href="{% static 'interface/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
	<div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Calidity"><i class="fa fa-cube fa-lg" aria-hidden="true"></i> Calidity - Control Panel</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li><a><i class="fa fa-user aria-hidden="true"></i> Barry O' Sullivan FYP - 2017</a></li>
            </ul>
			
			
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/Calidity"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/Settings"><i class="fa fa-cog" aria-hidden="true"></i></i> Settings</a>
                    </li>
					<li>
						<a href="/admin"><i class="fa fa-database" aria-hidden="true"></i>  Django Admin</a>
					</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
                {% block content %}
				
<!-- =======================================PAGE CONTENT HERE ============================== -->				

				{% endblock %}
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

	<!-- jQuery -->
    <script src="{% static 'interface/js/jquery.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
	<script src="{% static 'interface/js/bootstrap.min.js' %}"></script>
    <!-- Morris Charts JavaScript -->
	<script src="{% static 'interface/js/plugins/morris/raphael.min.js' %}"></script>
	<script src="{% static 'interface/js/plugins/morris/morris.min.js' %}"></script>
	
	<script type="text/javascript">
        Morris.Area({
            element: 'morris-area-chart',
            data: [
                {% for temp in temperatures %}
                    { period: '{{ temp.time }}', internal_c:  '{{ temp.internal_c }}', external_c: '{{temp.external_c}}' },
                {% endfor %}
            ],
			xkey: 'period',
			ykeys: ['internal_c', 'external_c'],
			labels: ['Internal Degrees C', 'External Degrees C'],
			parseTime: false,
			behaveLikeLine: true,
			goals: ['{{user_preference.ideal_temp}}'],
			goalLineColors: ['red'],
			goalStrokeWidth: 2,
			pointSize: 1,
			hideHover: 'auto',
			resize: true,
        });
    </script>
</body>
</html>
