{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			<i class="fa fa-cube fa-2x" aria-hidden="true"></i> Calidity <small>Dashboard</small>
		</h1>
		<ol class="breadcrumb">
			<li class="active">
				<i class="fa fa-dashboard"></i> Dashboard
			</li>
		</ol>
		<div class="well">
			<p>
				Simple home heating/cooling systems only react after a change has occurred (e.g. Boolean Thermostat, Timer) 
				rather than proactively anticipating temperature fluctuations in a system. If these external fluctuations could be anticipated 
				– the internal fluctuations in temperature wouldn’t be as severe (if any at all). This intelligent home heating/cooling system 
				can be used to record and monitor both the state and rate of change of internal/external temperature &amp; weather data. 
				The recorded data can then be used with simple machine learning to optimize cost and/or comfort. The simple &amp; concise interface allows
				full control and monitoring over the entire system.
			</p>
		</div>
	</div>
</div>
<!-- /Page Heading -->

<!-- System data -->
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-green">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-home"></i> System Data</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>Boiler Status: {% if True == heating_system.status %}
																				On 
																			{% else %} 
																				Off 
																		{% endif %}
					</li>
					<li>Fuel Remaining: {{heating_system.fuel_remaining}} &#8467;</li>
					<li>Burn Rate: {{heating_system.burn_rate}} &#8467;/hr</li>
					<li>External Temp: {{current_temp.external_c}} &#8451;</li>
					<li>Internal Temp: {{current_temp.internal_c}} &#8451;</li>
				</ul>
				<div class="text-right">
					<a href="/Settings">View Details <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="col-lg-4">
		<div class="panel panel-yellow">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-cloud"></i> Weather Data</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>Current Weather: {{weather.conditions}}</li>
					<li>Humidity: {{weather.humidity}} &#37;</li>
					<li>Wind: {{weather.wind_kph}} km/h</li>
					<li>Chance Of Rain: {{weather.chance_rain}} &#37;</li>
					<li>Low {{weather.low}} &#8451;  vs  High {{weather.high}} &#8451;</li>
				</ul>
				<div class="text-right">
					<a href="/Settings">View Details <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-4">
		<div class="panel panel-red">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-exclamation-triangle"></i> Alerts</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>Boiler Hours Remaining: {{hours_remaining}} </li>
					<li>Open Windows: {{open_windows}}</li>
					<li>Snow Expected: {{snow_expected}}</li>
					<li>Ice Expected: {{ice_expected}}</li>
					<li>Heatwave Expected: {{heatwave_expected}}</li>
				</ul>
				<div class="text-right">
					<a href="/Settings">View Details <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- System data -->

<!-- Morris chart showing the temp fluctuations-->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-area-chart" aria-hidden="true"></i> Temperature Fluctuations Last 24 Hrs</h3>
			</div>
			<div class="panel-body">
				<div id="morris-area-chart"></div>
				<div class="text-right">
					<a href="/Settings">View Details <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /morris chart -->
{% endblock %}