{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			<i class="fa fa-cube fa-2x" aria-hidden="true"></i> Calidity <small>Settings</small>
		</h1>
		<ol class="breadcrumb">
			<li class="active">
				<i class="fa fa-dashboard"></i> Dashboard / User Preferences
			</li>
		</ol>
	</div>
</div>
<!-- /.row -->

<div class="row">
	<div class="col-lg-6">
		<form role="form"  id="form" method="POST" action="">
		{% csrf_token %}   
		{{ form }}
			<div class="form-group">
				<label>System Override</label>
				<select class="form-control">
					<option>{% if user_preferences.system_override == True %} True {% else %} False {% endif %} </option>
					<option>{% if user_preferences.system_override == True %} False {% else %} True {% endif %} </option>
				</select>
			</div>
			
			<div class="form-group">
				<label>Boiler Status</label>
				<label class="radio-inline">
					<input type="radio" name="status" id="status_on" value="on" {% if heating_system.status == True %} checked {% endif %}>On
				</label>
				<label class="radio-inline">
					<input type="radio" name="status" id="status_off" value="off" {% if heating_system.status == False %} checked {% endif %}>Off
				</label>
			</div>
			
			<div class="form-group">
				<label>Windows</label>
				<label class="radio-inline">
					<input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" {% if building.windows == True %}checked {% endif %}>Open
				</label>
				<label class="radio-inline">
					<input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2" {% if building.windows == False %}checked {% endif %}>Closed
				</label>
			</div>
			
			
			<div class="form-group input-group">
				<span class="input-group-addon">Fuel Remaining</span>
				<input type="text" class="form-control" value="{{heating_system.fuel_remaining}}">
				<span class="input-group-addon"> &#8467;</span>
			</div>
			
			<div class="form-group input-group">
				<span class="input-group-addon">Fuel Burn Rate</span>
				<input type="text" class="form-control" value="{{heating_system.burn_rate}}">
				<span class="input-group-addon"> &#8467;/hr</span>
			</div>
			
			<div class="form-group input-group">
				<span class="input-group-addon">Ideal Temp</span>
				<input type="text" class="form-control" value="{{user_preference.ideal_temp}}">
				<span class="input-group-addon"> &#8451;</span>
			</div>
	
			<div class="form-group">
				<label>System Setting</label>
				<select class="form-control">
					<option>{% if user_preference.setting == "COMFORT" %} Comfort {% else %} Economic {% endif %} </option>
					<option>{% if user_preference.setting == "COMFORT" %} Economic {% else %} Comfort {% endif %} </option>
				</select>
			</div>
			
			
			<button type="submit" class="btn btn-default">Submit</button>
			<button type="reset" class="btn btn-default">Revert To Default</button>
		</form>

	</div>
</div>
<!-- /.row -->
{% endblock %}
